<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="LaCashKassenbuch.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="LaCashKassenbuch.My.MySettings.KassendatenExportConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\KassendatenExport.MDB;Persist Security Info=True"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup>
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup>
    <userSettings>
        <LaCashKassenbuch.My.MySettings>
            <setting name="Steuer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Giro" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Gutschein" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Datum" serializeAs="String">
                <value>2017-01-01</value>
            </setting>
            <setting name="Kunde1" serializeAs="String">
                <value>Optik Mayer</value>
            </setting>
            <setting name="Kunde2" serializeAs="String">
                <value>Inh. Paul Gunzhuber</value>
            </setting>
            <setting name="Kunde3" serializeAs="String">
                <value>Hauptstraße 123</value>
            </setting>
            <setting name="Kunde4" serializeAs="String">
                <value>89674 Bayrischzarten</value>
            </setting>
        </LaCashKassenbuch.My.MySettings>
    </userSettings>
</configuration>
